<header class="header">
    <a href="/" class="header_logo"><img src="./img/MountBlog.png"></a>
    <nav class="header_nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
    </nav>
    <div class="header_button"  >
        <button id="logout"><a href="/logout">Logout</a></button>
    </div>
</header>