<div class="searchBar">
    <div class="contain">
        <form action="/search" class="search_form" role="search" method="POST">
            <input
            type="search"
            aria-label="search"
            id="searchInput"
            name="searchTerm"
            placeholder="Search the site..."
            >
        </form>
        <button id="searchClose">
              &#x2715; Close
        </button>
    </div>
</div>