<h1>hello</h1>

<script >
    document.addEventListener('DOMContentLoaded', function() {
      const logout = document.querySelector('#logout');
      logout.style.visibility = "hidden";
    });
</script>