<div class="error">
    <span>Invalid Credentials...</span>
    <a href="../admin">Click here to try again</a>
</div>

<script >
    document.addEventListener('DOMContentLoaded', function() {
      const search = document.querySelector('.header_button');
      search.style.visibility = "hidden";
    });
</script>