<div class="error">
    <span>User already exist with same credentials</span>
    <a href="../admin/register">Click here to register with different credentials</a>
</div>

<script >
    document.addEventListener('DOMContentLoaded', function() {
      const search = document.querySelector('.header_button');
      search.style.visibility = "hidden";
    });
</script>